
/***************** CLAIM VOUCHER PAGE CSS STARTS HERE ****************/
*, *:after, *:before{box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
body {margin: 0;float: left;width: 100%;display: block;overflow-x: hidden;overflow-y: auto;}
.page, .voucher-image, .bordered, .bordered .logo, .bordered .business-logo, .bordered .title, .voucher-code, .validity, .terms{float: left;width: 100%;display: block;}
.page{padding:15px;}
.bordered, .terms {width: 47%;}
.bordered{margin-right: 3%;border: 2px solid #000;border-radius: 10px;padding: 0 0 40px;text-align: center;}
.bordered .logo {text-align: left;padding: 15px 15px 0;}
.bordered .logo img{max-width: 140px;}
.bordered .business-logo{text-align: center;margin: 10px 0;padding: 0 15px;}
.bordered .business-logo img{max-height: 55px;object-fit: contain;max-width: 100%;width: auto;}
.bordered .title{font-size: 30px;line-height: 36px;text-transform: uppercase;font-weight: 600;margin: 20px 0;padding: 0 15px;}
.voucher-image img {width: 100%;height: auto; object-fit: cover; margin: 0 0 25px;}
.bordered .voucher-code{margin:20px 0 20px;padding: 0 15px;}
.bordered .voucher-code span {min-width: 340px;display: inline-block;border: solid 2px black; padding: 15px 40px;font-size: 36px;line-height: 40px;text-transform: uppercase;font-weight:400;}
.validity{font-size:18px;line-height: 30px;text-transform: uppercase;font-weight: 600;margin:0;padding: 0 15px;}
.single-use{font-size:18px;line-height: 30px;text-transform: uppercase;font-weight: 700;margin:0;padding: 0 15px;}

.terms{margin:0 0 0 3%;text-align: left;font-size: 11px;font-weight: 600;line-height: 24px;}
.terms ol{padding:0 0 0 20px;}
.terms ol li, .terms p{font-weight: 400;line-height: 20px;}


/* .bordered {
  border: solid 5px black;
  float: left;
  width: 45%;
}

.business-logo img {
  width: 100%;
}

.voucher-image img {
  width: 100%;
} */
/***************** CLAIM VOUCHER PAGE CSS STARTS HERE ****************/
