@charset "utf-8";
/* CSS Document */

/* COMMON CSS STARTS HERE */
.btn-black{line-height: 26px;background:#000000;color:aliceblue;letter-spacing:2px;text-decoration:none;font-weight:600;text-transform:uppercase;font-size:14px;height: 40px;padding: 6px 25px;}
.btn-black:hover, .btn-black:focus{background-color:#fc9e00;color:#131b1f;}
.input-lg{height: 40px;border-radius: 0;border: 1px solid #ddd; padding:9px 15px;font-size:18px;line-height:22px;}
.btn, .form-control{border-radius:unset;-webkit-border-radius:unset;}

/***************** HEADER CSS STARTS HERE ***************/
.header{border-bottom:solid 1px #c3c3c3;margin:40px 0; width: 100%;float:left;}
.site-branding{margin-right: 20px;display: inline-block;float: left;}
.site-branding__logo{display: block;}
.site-branding__logo img{max-width:250px;}

.header .hidden-xs.hidden-sm {float: right; display: none;}
.main-menu{float:right;width:100%;display: block;}
.header .navbar-nav > li > a {color: #000000;font-size: 16px;}
.header .navbar-nav > li > a:focus, .header .navbar-nav > li > a:hover{background:none;text-decoration:underline;}
/*************** HEADER CSS ENDS HERE ************/

/***************** HOME PAGE CSS STARTS HERE ****************/
#block-dailymail-content {float: left;width: 100%;display: block;}
.node-1 #block-dailymail-content article img{position:relative;width:100%;object-fit: cover;}
.node-1 #block-dailymail-content article h1{margin: 25px 0 15px;}


#block-accessformblock {border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;padding: 20px 0;margin: 0 0 30px;}
#block-accessformblock, #access-form.form-inline{float:left;width:100%;display: block;}
#access-form.form-inline{position: relative;}
#access-form.form-inline .js-form-item.form-item{float:left;width:100%;padding-right:245px;}
#access-form.form-inline .js-form-item.form-item label{margin: 0 15px 0 0;line-height:40px;font-size:18px;}
#access-form.form-inline .js-form-item.form-item input.input-lg.form-text{float:right;width:250px;}
#access-form.form-inline #edit-submit {right: 15px;position: absolute;margin: 0;top: 0;width:220px;}


/***************** HOME PAGE CSS ENDS HERE ****************/

/***************** CLAIM COFFEE PAGE CSS STARTS HERE ****************/
#block-dailymail-page-title{clear: both;}
#block-dailymail-page-title h1{margin: 0 0 30px;}

#partners-view{display: grid;grid-template-columns:1fr 1fr 1fr;}
#partners-view .views-row{margin:0 30px 25px 0;box-shadow:3px 3px 3px 3px #ddd;-webkit-box-shadow:3px 3px 3px 3px #ddd;-moz-box-shadow:3px 3px 3px 3px #ddd;}
.reward-info {padding: 20px 10px 15px;float: left; width: 100%; display: block;}
.reward-info p{display: block;float: left;width: 100%;}
.reward-info p:empty{margin: 0;}
.reward-info p.title{color: #333; font-size: 30px;font-size: 24px;line-height: 30px;height: 60px;overflow: hidden;margin: 0 0 15px;}
.reward-info div.description{float: left; width: 100%; height:130px; overflow: hidden; display: block;margin: 0 0 15px;}
.reward-info div.description p{margin: 0;}
.reward-image img{width: 100%; height: 240px; object-fit: cover;}
.reward-info .use-ajax.btn.btn-black {float: right;margin: 0 0 10px;}
/***************** CLAIM COFFEE PAGE CSS ENDS HERE ****************/

/***************** CLAIM VOUCHER PAGE CSS STARTS HERE ****************/
.bordered .logo, .bordered .business-logo, .bordered .title, .voucher-code, .validity, .terms{float: left;width: 100%;display: block;}
.claim-voucher #block-dailymail-content{text-align: center;}
.claim-voucher article{max-width: 575px;display: inline-block;}
.claim-voucher article .bordered{border: 2px solid #000; border-radius: 10px;}
.bordered .logo {text-align: left;padding: 15px 0 0;}
.bordered .logo img{max-width: 140px;}
.bordered .business-logo{text-align: center;}
.bordered .business-logo img{height:55px; object-fit: contain;}
.bordered .title{font-size: 36px;line-height: 40px;text-transform: uppercase;font-weight: 600;margin: 20px 0;}
.voucher-code img{width: 100%;height: 240px;object-fit: cover; margin: 0 0 25px;}
.validity{font-size: 30px;line-height: 36px;text-transform: uppercase;font-weight: 600;margin:0;}
.terms{margin: 20px 0;text-align: left;font-size: 14px;font-weight: 600;line-height: 24px;}
.terms ol{padding:0 0 0 20px;}
.terms ol li{font-weight: 400;line-height: 20px;}
/***************** CLAIM VOUCHER PAGE CSS STARTS HERE ****************/

/***************** USER LOGIN PAGE CSS STARTS HERE ****************/
.user-login #block-dailymail-content {text-align: center;padding: 50px 0;}
.user-login #block-dailymail-content .user-login-form{max-width:400px;display: inline-block;text-align: left;}
.user-login-form .js-form-item.form-item {width: 100%;float: left;display: block;margin: 0 0 30px;}
.user-login-form .js-form-item.form-item input{border-radius:0;width:100%;height: 40px;border: 1px solid #ddd;margin: 0 0 10px;padding: 1px 15px;}
.user-login-form .js-form-item.form-item label{margin-left:15px;}
.user-login-form .js-form-item.form-item .description{padding-left: 15px;}
.user-login-form .form-actions.form-wrapper{float: left;width: 100%;display: block;}
.user-login-form .form-actions.form-wrapper .button.js-form-submit{margin: 0 auto;display: block;}
/***************** USER LOGIN PAGE CSS ENDS HERE ****************/


.row-box{border-top:solid 1px #c3c3c3;border-bottom:solid 1px #c3c3c3;padding:20px 0;}


/***************** SITE FOOTER CSS STARTS HERE ****************/
footer{margin:30px 0; clear: both;}
/***************** SITE FOOTER CSS ENDS HERE ****************/

/***************** SITE RESPONSIVE CSS STARTS HERE ****************/
@media (min-width:280px) and (max-width:579px) {
    .h1, h1 {font-size: 30px;}
    #access-form.form-inline .js-form-item.form-item{padding: 0;margin:20px 0;}
    #access-form.form-inline .js-form-item.form-item label{width: 100%;display: block;margin: 0;text-align: center;}
    #access-form.form-inline .js-form-item.form-item input.input-lg.form-text{width: 100%;}
    #access-form.form-inline #edit-submit{position: static; display: block;margin: 20px auto 0; width: 100%;}
    #partners-view{grid-template-columns:1fr;}
    #partners-view .views-row{margin: 0 0 30px;}
    .bordered .title {font-size: 30px;line-height: 36px;}
    .validity {font-size: 24px;line-height: 30px;}
}

@media (min-width:580px) and (max-width:767px) {
    #access-form.form-inline #edit-submit{width: 120px;}
    #access-form.form-inline .js-form-item.form-item{padding-right: 145px;}
    #access-form.form-inline .js-form-item.form-item label{font-size: 14px;}
    #access-form.form-inline .js-form-item.form-item input.input-lg.form-text{width:175px;}
    #partners-view{grid-template-columns:1fr 1fr;}
    #partners-view .views-row:nth-child(2n){margin: 0 0 25px;}
}

@media (max-width:767px) {
    .nav > li{display: inline-block;}
    .reward-info div.description, .reward-info p.title{height:auto;}
}

@media (min-width: 768px) and (max-width: 991px) {
    #access-form.form-inline #edit-submit{width: 130px;}
    #access-form.form-inline .js-form-item.form-item{padding-right: 160px;}
    #access-form.form-inline .js-form-item.form-item label{font-size: 16px;}
    #access-form.form-inline .js-form-item.form-item input.input-lg.form-text{width: 220px;}
    .header .hidden-lg{ float: right; }
    #partners-view{grid-template-columns:1fr 1fr;}
    #partners-view .views-row:nth-child(2n){margin: 0 0 25px;}
    .reward-info div.description{height: 140px;}
}


@media (max-width:991px) {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .header .hidden-lg{ float: right; }
    #partners-view .views-row:nth-child(3n){margin: 0 0 25px;}
    .reward-info div.description{height: 165px;}
}

@media (min-width:1200px) {
    .header .hidden-xs.hidden-sm{display: block;}
    #partners-view .views-row:nth-child(3n){margin: 0 0 25px;}
}
/***************** SITE RESPONSIVE CSS ENDS HERE ****************/
